
$primary-color: #100f0f;
$secondary-color: #bb0000;
$third-color: #FAF9F6;


* {
  box-sizing: border-box;
  margin: 0;

}
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #100f0f;
    cursor: none;
  }
  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #bb0000;
}


  header {
    background-color: #{$primary-color};

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 65px; }
    h1 {
      margin-left: 35px;
    }
    ul {
      margin-bottom: 10px;
      margin-left: 550px;
      list-style: none;
    }
   nav img {
      height: 40px;
      margin-right: 25px;
    }
    li { display: inline-block;
    font-size: 16px; }

    a {
      text-decoration: none;
      padding: 16px;
      font-size: 20px;
      color: #{$third-color};
    }
    h1 {
      color: #{$secondary-color};
      font-size: 37px;
    }
    
   
  }

  .sidebar {
    width: 50px;
    height: 100%;
    background-color: #100f0f;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .left-menu-icon {
    color:  #{$third-color};
    font-size: 20px;
    margin-bottom: 40px;
  }
  
.banner {
	background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/batman.jpeg);
  background-position: center;
	background-size: cover;
	color:  #{$third-color};
	padding: 1em;
	text-align: center;
  height: 500px;
} 
.banner button {
  background-color:  #{$third-color};
  border-radius: 15px;
  height: 50px;
  width: 120px;
  font-size:16px;
  border: #{$secondary-color} 1px;
  float: left;
  margin-left: 70px;
  margin-top: 330px;
}
.banner p {
  float: left;
  margin-left: -120px;
  margin-top: 390px;
  text-align: left;
}
// below main image //
.MovieList {
  margin-left: 40px;
}


.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color:  #{$third-color};
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color:  #{$third-color};
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}


.movie-list-container {
  padding: 0 20px;
  background-color: #100f0f;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: rgb(167, 165, 165);opacity: 0.4;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color:  #{$third-color};
  color: black;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
.movie-list-title{
  color:  #{$third-color};
}

h2 {
  color:  #{$third-color};
  padding: 40px;
  margin-left: 30px;
}
.genres {
  background-color:#100f0f ;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 180px 180px; 
  column-gap: 140px;
  row-gap: 75px;
  margin-left:200px;
  padding-top: 45px;
}


.genres img {
  max-width: 100%;
}
.gen1 {
height: 335px;
width: 100%;
}

